<div class="col-md-4" *ngFor="let article of articles">
  <div [class]="article.kind === 'text' ? 'card card-outline-primary' : 'card card-outline-danger'">
    <div class="card-block">
      <h4 class="card-title">{{ article.title }}</h4>
      <p class="card-text" *ngIf="article.kind === 'text'">{{ article.content }}</p>
      <p class="card-text">
        <small class="text-muted">Last updated {{ article.date | date:"shortDate" }}</small>
      </p>
    </div>
    <img class="card-img-bottom img-fluid"
         src="{{ article.content }}" *ngIf="article.kind === 'image'">
  </div>
</div>